name: Build All APKs

on:
  workflow_dispatch:  # 手动触发
    inputs: {}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      KEYSTORE_PATH: ${{ github.workspace }}/budget/android/app/key.jks
      KEY_PROPERTIES_PATH: ${{ github.workspace }}/budget/android/key.properties

    # 设置全局工作目录，避免重复执行 cd budget
    defaults:
      run:
        working-directory: budget

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'
          # 开启 Flutter 缓存
          cache: true

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          # 开启 Java 依赖缓存
          cache: 'gradle'

      - name: Install dependencies
        run: |
          flutter pub get

      - name: Generate database code
        run: |
          dart run build_runner build --delete-conflicting-outputs

      - name: Create keystore file from base64
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          mkdir -p android/app
          if [ -z "$KEYSTORE_BASE64" ]; then
            echo "Error: KEYSTORE_BASE64 is not set"
            exit 1
          fi
          # 直接解码到指定路径
          echo "$KEYSTORE_BASE64" | base64 --decode > "$KEYSTORE_PATH"

      - name: Create key.properties file
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
        run: |
          cat <<EOF > android/key.properties
          storePassword=$STORE_PASSWORD
          keyPassword=$KEY_PASSWORD
          keyAlias=$KEY_ALIAS
          storeFile=key.jks
          EOF

      - name: Build Signed Release APKs
        run: |
          flutter build apk --release --target-platform android-arm,android-arm64,android-x64 --split-per-abi

      - name: Upload Release APKs 1
        uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-release.apk
          path: budget/build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
          retention-days: 7

      - name: Upload Release APKs 2
        uses: actions/upload-artifact@v4
        with:
          name: app-armeabi-v7a-release
          path: budget/build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
          retention-days: 7

      - name: Upload Release APKs 3
        uses: actions/upload-artifact@v4
        with:
          name: app-x86_64-release
          path: budget/build/app/outputs/flutter-apk/app-x86_64-release.apk
          retention-days: 7

